In [31]:
import pandas as pd

In [32]:
import numpy as np

## Series 객체

In [33]:
s1 = pd.Series([45,28,99,20])

In [34]:
type(s1)

pandas.core.series.Series

In [35]:
s1

0    45
1    28
2    99
3    20
dtype: int64

In [36]:
s1 = pd.Series([45,28,99,20], index = ['a1','b1','a2','b2'])

In [37]:
type(s1)

pandas.core.series.Series

In [38]:
s1[2]

99

In [39]:
s1

a1    45
b1    28
a2    99
b2    20
dtype: int64

In [40]:
np.random.seed(1)
s2 = pd.Series(np.random.randint(1,7,20))

In [41]:
s2

0     6
1     4
2     5
3     1
4     2
5     4
6     6
7     1
8     1
9     2
10    5
11    6
12    5
13    2
14    3
15    5
16    6
17    3
18    5
19    4
dtype: int32

In [42]:
s2.value_counts

<bound method IndexOpsMixin.value_counts of 0     6
1     4
2     5
3     1
4     2
5     4
6     6
7     1
8     1
9     2
10    5
11    6
12    5
13    2
14    3
15    5
16    6
17    3
18    5
19    4
dtype: int32>

In [25]:
counts = s2.value_counts()

In [26]:
counts

5    5
6    4
1    3
2    3
4    3
3    2
dtype: int64

In [28]:
counts.sort_index()  # 인덱스 기준

1    3
2    3
3    2
4    3
5    5
6    4
dtype: int64

In [29]:
counts.sort_values() # 값 기준

3    2
1    3
2    3
4    3
6    4
5    5
dtype: int64

## DataFrame 객체

### 넘파이 배열

In [43]:
np.random.seed(100)
scores = pd.DataFrame(np.random.randint(100, size = (5,2)),
                     columns = ['mid', 'final'], index = [1,3,9,6,5])

In [44]:
print(scores)

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [45]:
scores.index

Int64Index([1, 3, 9, 6, 5], dtype='int64')

In [46]:
scores.columns

Index(['mid', 'final'], dtype='object')

In [48]:
scores.values   # 넘파이 배열

array([[ 8, 24],
       [67, 87],
       [79, 48],
       [10, 94],
       [52, 98]])

In [49]:
type(scores.values)

numpy.ndarray

### 외부 파일이나 데이터베이스로 DataFrame 객체 생성하기

In [50]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: D4F1-53CA

 C:\Users\user\Documents\BigData2021 디렉터리

2021-10-06  오후 03:11    <DIR>          .
2021-10-06  오후 03:11    <DIR>          ..
2021-10-06  오후 02:40    <DIR>          .ipynb_checkpoints
2021-09-15  오후 03:42             7,061 21-09-15.ipynb
2021-09-20  오전 01:04            13,332 21-09-20.ipynb
2021-09-23  오전 01:16            14,400 21-09-22.ipynb
2021-09-23  오후 12:20            19,019 21-09-23.ipynb
2021-09-27  오후 03:45             5,304 21-09-27.ipynb
2021-09-29  오후 03:48            23,942 21-09-29.ipynb
2021-10-05  오후 03:04            18,408 21-10-05.ipynb
2021-10-06  오후 03:00             8,727 21-10-06.ipynb
2021-10-06  오후 03:10            23,873 diabetes.csv
2021-09-30  오후 11:07            10,421 mystery.py
2021-10-06  오후 03:10            25,585 ThoraricSurgery.csv
2021-10-06  오후 03:10            61,192 titanic.csv
2021-09-20  오전 12:25               257 tsize.py
2021-10-02  오전 01:17             9,140 과제1_파이썬_201858068_허유림.ipynb
              14개 파일             240,661 바이트
               3개 디렉터리  30,134,214,656 바이트 남음

In [51]:
df = pd.read_csv('diabetes.csv')

In [52]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [55]:
df.ndim

2

In [53]:
df.shape

(768, 9)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [56]:
df.describe() # column 별로 알려줌

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [61]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [57]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [58]:
df['Age']

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [59]:
type(df['Age'])

pandas.core.series.Series

In [60]:
df.Age

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [62]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [63]:
scores.iloc[0,0]  #0번째 행 0번째 열

8

In [64]:
scores.iloc[1:3, 1:]  #1번부터 2번까지

   final
3     87
9     48

In [65]:
scores.loc[:, 'mid':]

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [66]:
scores.loc[:3, :]

   mid  final
1    8     24
3   67     87

In [67]:
scores.loc[:9, :]

   mid  final
1    8     24
3   67     87
9   79     48

In [68]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [69]:
scores[scores.mid > 50]

   mid  final
3   67     87
9   79     48
5   52     98

In [75]:
scores['total'] = scores.mid + scores.final

In [76]:
del scores['total']

In [77]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [78]:
new_scores =  scores.drop(9)

In [79]:
new_scores

   mid  final
1    8     24
3   67     87
6   10     94
5   52     98

In [80]:
new_scores =  scores.drop(9)

In [82]:
new_scores

   mid  final
1    8     24
3   67     87
6   10     94
5   52     98

In [86]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [84]:
df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [87]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164